<div class="banner-container">
  <img src="<%= @content['about']['banner-image'] %>" class="contact-banner" alt="<%= @content['about']['banner-alt'] %>">
  <div class="banner-container">
    <div class="banner-text" style="color: <%= @content['about']['banner-text-color'] %>;">
      <h2>About Us</h2>
      <h5><%= @content['about']['banner-subtext'] %></h5>
      <hr>
    </div>
  </div>
</div>

<br>

<div class="title-container">
  <h3><%= @content['about']['heading1'] %></h3>

  <p>
    <%= @content['about']['paragraph1'] %>
  </p>

  <h3><%= @content['about']['heading2'] %></h3>
  <p>
    <%= @content['about']['paragraph2'] %>
  </p>
</div>

<br>

<div class="title-container">
  <%= erb :carousel %>
</div>

<br>


