<div class="banner-container">
  <!--TODO: Make the banner image scroll between a few different images-->
  <img src="images/engin-akyurt-ec1dSumeUsM-unsplash.jpg" class="home-image" alt="custom image goes here">
</div>

<br>

<div class="title-container">
  <p class="title-font"><%= @content['about']['heading1'] %></p>

  <p>
    <%= @content['about']['paragraph1'] %>
  </p>

  <h3><%= @content['about']['heading2'] %></h3>
  <p>
    <%= @content['about']['paragraph2'] %>
  </p>
  <p>
    <%= @content['about']['paragraph3'] %>
  </p>
</div>

<br>

<div class="title-container">
  <%= erb :carousel %>
</div>

<br>


