<div class="container text-center m-auto">
  <div class="row row-cols-auto d-flex justify-content-center">

     
      <div class="card m-1 g-0" style="width: 16rem;">
        <img src="<%= @content['cards']['card1-image'] %>" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text"><%= @content['cards']['card-text1'] %></p>
        </div>
      </div>

      <div class="card m-1 g-0" style="width: 16rem;">
        <img src="<%= @content['cards']['card2-image'] %>" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text"><%= @content['cards']['card-text2'] %></p>
        </div>
      </div>

      <div class="card m-1 g-0" style="width: 16rem;">
        <img src="<%= @content['cards']['card3-image'] %>" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text"><%= @content['cards']['card-text3'] %></p>
        </div>
      </div>

      <div class="card m-1 g-0" style="width: 16rem;">
        <img src="<%= @content['cards']['card4-image'] %>" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text"><%= @content['cards']['card-text4'] %></p>
        </div>
      </div>
    
  </div>
</div>