<div class="banner-container">
  <img src="<%= @content['contact']['banner-image'] %>" class="contact-banner" alt="<%= @content['contact']['banner-alt'] %>">
  <div class="banner-container">
    <div class="banner-text" style="color: <%= @content['contact']['banner-text-color'] %>;">
      <h2>Contact Us</h2>
      <h5><%= @content['contact']['contact-subtext'] %></h5>
      <hr>
    </div>
  </div>
</div>

<div class="container text-center contact-container" style="background-color: <%= @content['contact']['bg-color'] %>;">
  <div class="row">
    <div class="col" style="text-align:left;">
      <%= erb :form %>
    </div>

    <div class="col" style="text-align:left;">
      <h5><%= @content['name'] %></h5>
       <a href="https://www.google.com/maps/search/?api=1&query=<%= @content['address-line1'] %>+<%= @content['address-line2'] %>" target="_blank">
        <%= @content['address-line1'] %> <br>
        <%= @content['address-line2'] %>
      </a>
      <p class="mt-2">
        <i class="fa-solid fa-phone"></i>
        <strong>Phone:</strong> 
        <a href="tel:<%= @content['phone']%>">
          <%= @content['phone']%></a>
        </a>
      </p>

      <p>
        <i class="fa-solid fa-envelope"></i>
        <strong>Email:</strong>
        <a href="mailto:<%= @content['email'] %>">
          <%= @content['email'] %>
        </a>
      </p>

      <p>
        <i class="fa-solid fa-clock"></i>
        <strong>Hours:</strong>
          <%= @content['hours'] %>
      </p>

    </div>
  </div>
</div>
</div>
<br>