<div class="footer-container">
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <div class="footer-text">
          <a href="/">Home</a>
          <a href="/about">About Us</a>
          <a href="/contact">Contact</a>
        </div>
      </div>

      <div class="col">
        <div class="footer-text">
          <h5 class="white-text">Contact</h6>
          <p>
            <i class="fa-solid fa-phone"></i>
            <strong>Phone:</strong> 
            <a href="tel:<%= @content['phone']%>">
              <%= @content['phone']%></a>
            </a>
          </p>

          <p>
            <i class="fa-solid fa-envelope"></i>
            <strong>Email:</strong>
            <a href="mailto:<%= @content['email'] %>">
              <%= @content['email'] %>
            </a>
          </p>
        </div>
      </div>
      <div class="col">
        <div class="footer-text">
          <h5 class="white-text"><%= @content['name'] %></h6>
          <p>
            <%= @content['address-line1'] %> <br>
            <%= @content['address-line2'] %>
          </p>
          <p>
            <i class="fa-solid fa-clock"></i>
            <strong>Hours:</strong>
              <%= @content['hours'] %>
          </p>
        </div>
      </div>

      <hr>
      <p><%= @content['copyright'] %></p>

    </div>
  </div>
</div>