<div class="container text-center m-auto">
  <div class="scroll-container">
    <img src="<%= @content['gallery']['image1'] %>" alt="<%= @content['gallery']['image1-alt'] %>">
    <img src="<%= @content['gallery']['image2'] %>" alt="<%= @content['gallery']['image2-alt'] %>">
    <img src="<%= @content['gallery']['image3'] %>" alt="<%= @content['gallery']['image3-alt'] %>">
    <img src="<%= @content['gallery']['image4'] %>" alt="<%= @content['gallery']['image4-alt'] %>">
    <img src="<%= @content['gallery']['image5'] %>" alt="<%= @content['gallery']['image5-alt'] %>">
    <img src="<%= @content['gallery']['image6'] %>" alt="<%= @content['gallery']['image6-alt'] %>">
    <img src="<%= @content['gallery']['image7'] %>" alt="<%= @content['gallery']['image7-alt'] %>">
    <img src="<%= @content['gallery']['image8'] %>" alt="<%= @content['gallery']['image8-alt'] %>">
  </div>
</div>