<!--Banner and slogan-->
<section class="banner-container ">
  <video autoplay loop playsinline muted class="home-image">
    <source src="<%= @content['home']['banner'] %>" type="video/mp4">
  </video>
  <div class="banner-container">
    <div class="banner-text">
      <h2 style="color: <%= @content['home']['slogan-color'] %>;"><%= @content['slogan'] %></h2>
      <a href="/contact">
        <button type="button" class="btn btn-lg" style="background-color: <%= @content['home']['button-color'] %>;">Contact Us</button>
      </a>
    </div>
  </div>
</section>

<!--Mini photo gallery-->
<div class="gallery-text-div">
  <div class="title-container">
    <p class="title-font"><%= @content['gallery']['title'] %></p>
  </div>

  <div class="container text-center m-auto">
    <div class="row row-cols-auto d-flex justify-content-center">
    <%= erb :gallery %>
    </div>
  </div>
</div>


<br>

<!--Mini text section-->
<div class="title-container">
  <p class="title-font"><%= @content['home']['heading-one'] %></p>

  <p>
    <%= @content['home']['section-one-text'] %>
  </p>
</div>

<br>

<!--Card section-->
<div class="title-container">
  <p class="title-font"><%= @content['cards']['card-heading'] %></p>
</div>

<%= erb :cards %>

<br>
<br>

<!--Colored mini banner-->
<div class="colored-section" style="background-color: <%= @content['home']['colored-section'] %>;">
  <p class="colored-section-text" style="color: <%= @content['home']['colored-section-text-color'] %>;"><strong><%= @content['home']['colored-section-text'] %></strong></p>
</div>


<!--About/FAQ section-->
<div class="about-home-div">
  <div class="container text-center">
    <div class="row">
      <div class="col about-text">
        <div class="row">
          <div class="col">
            <img src="<%= @content['home']['about-image1'] %>" class="about-gallery" alt="<%= @content['home']['about-image1-alt'] %>">
          </div>
          <div class="col">
            <img src="<%= @content['home']['about-image2'] %>" class="about-gallery" alt="<%= @content['home']['about-image2-alt'] %>">
          </div>
        </div>
        
        <h3>About Us</h3>
        <p><strong><%= @content['home']['about-subtext'] %></strong></p>
        <p>
          <%= @content['home']['about_paragraph1']%>
        </p>

        <p>
          <%= @content['home']['about_paragraph2']%>
        </p>
      </div>

      <div class="col">
        <h3 style="text-align: left; padding-bottom:10px;">Frequently Asked Questions</h3>
        
        <%= erb :faq %>
      </div>
    </div>
  </div>
</div>
